 /* #ch{
    background-color: black; 
    color: white;
    padding: 2px;
    padding: ;
}  */
#a1{
    background-color: black;
    color: white;
    padding: 2px ;
    
    
    

}
#a2{
    background-color: purple;
    
    color: white;
    padding: 2px;
    

}
#a3{
    background-color:blue;
    
    color: white;
    padding: 2px;
    

}
#a4{
    background-color:orange;
    
    color: white;
    padding: 2px;

}
#a5{
    background-color:#7e377e;
    
    color: white;
    padding: 2px;

}
#a6{
    background-color:red;
    
    color: white;
    padding: 2px;
    padding: 2px;

}
#a7{
    background-color:gray;
    
    color: white;
    padding: 2px;

}
#a8{
    background-color:aqua;
    
    color: white;
    padding: 2px;

}
#a9{
    background-color:greenyellow;
    
    color: white;
    padding: 2px;

}
#a10{
    background-color:blue;
    
    color: white;
    padding: 2px;

}
#a11{
    background-color:rgb(109, 44, 44);
    color: white;
    padding: 2px;

}
#a12{
    background-color:rgb(197, 244, 10);
    
    color: white;
    padding: 2px;

}
#a13{
    background-color:blue;
    
    color: white;
    padding: 2px;

}
#a14{
    background-color:red;
    
    color: white;
    padding: 2px;

}
#a15{
    background-color:purple;
    
    color: white;
    padding: 2px;

}
#a16{
    background-color:white;
    
    color: black;
    padding: 2px;

}
#a17{
    background-color:blue;
    
    color: white;
    padding: 2px;

}
#a18{
    background-color:blue;
    
    color: white;
    padding: 2px;

}